# SPDX-FileCopyrightText: Copyright 2025 gematik GmbH
#
# SPDX-License-Identifier: Apache-2.0
#
# *******
#
# For additional notes and disclaimer from gematik and in case of changes by gematik,
# find details in the "Readme" file.

/OpenHealthHealthcardFFI.xcframework
/Sources/OpenHealthHealthcard/OpenHealthHealthcard.swift
/build/
